#giamGia{
    animation: led 0.5s ease-in-out infinite alternate;
  }
  @keyframes led {
    from{
      color: red;
    }
    to{
      color:yellow;
      
    }
  }

#countdown{
    font-size:50px;
    width: 40%;
    height: 20%;
    background-color: black;
    color: white;
    text-align: center
}

#bgFlashSale{
    animation: led1 0.5s ease-in-out infinite alternate;
  }
  @keyframes led1 {
    from{
      background-color: red;
    }
    to{
      background-color:white;
      
    }
  }
  #flashSale,#giamGia20{
    animation: led2 0.5s ease-in-out infinite alternate;
  }
  @keyframes led2 {
    from{
      color: white;
    }
    to{
      color:red;
      
    }
  }