* {
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}


/*--------------------------------------------------------------
----------------------------HEADER------------------------------
----------------------------------------------------------------*/


/* login page */

._login_page {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 500px;
    top: 50px;
}

._login_page img {
    width: 200px;
    animation: xoayvong 30s linear infinite;
}

@keyframes xoayvong {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

 ._nhom {
    font-size: 60px;
    color: darkcyan;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 8px;
    animation: logo 1s ease-in-out infinite alternate;
}

@keyframes logo {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #001fe6, 0 0 40px #e60073, 0 0 50px #001fe6, 0 0 60px #001fe6, 0 0 70px #001fe6;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #205ed9, 0 0 40px #205ed9, 0 0 50px #205ed9, 0 0 60px #205ed9, 0 0 70px #205ed9, 0 0 80px #205ed9;
    }
}


/*--------------------------------------------------------------
-------------------------------NAV------------------------------
----------------------------------------------------------------*/

nav {
    text-align: center;
}


/*------------------------ Login form --------------------------*/

nav .login_form_container {
    background-color: white;
    width: fit-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    line-height: 1.34;
}

nav .login_form_container form ._4p {
    padding: 6px 0;
    padding-left: 24px;
}

nav .login_form_container form input {
    width: 330px;
    padding: 14px 16px;
    border-width: 0.02px;
    border-radius: 6px;
}

nav .login_form_container form input[type=text]::placeholder,
nav .login_form_container form input[type=password]::placeholder {
    font-size: 110%;
}

nav .login_form_container form input[type=submit] {
    background-color: dodgerblue;
    color: white;
    font-size: 120%;
    font-weight: 700;
}

nav .login_form_container form input[type=submit]:hover {
    background-color: rgb(10, 109, 209);
}

nav .login_form_container a {
    text-decoration: none;
}

nav .login_form_container a:hover {
    color: red;
}

.custom_select {
    position: relative;
}

.custom_select select {
    display: none;
}

._8esg {
    border-radius: 4px;
    border: 1px solid #ccd0d5;
    color: #1c1e21;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 115px;
}

._9hk6 {
    -webkit-appearance: none;
    background-image: url(../img/show_button.png);
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding: 0 8px;
    padding-right: 20px;
}

._1ip1 {
    padding: 6px 0;
    padding-left: 13px;
}

._1ip2 {
    padding: 6px 0;
    padding-left: 13px;
}

._1ip1 input[type=text] {
    width: 220px;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 110%;
    background: #f5f6f7;
    border: 1px solid #ccd0d5;
}

._1ip2 input {
    width: 440px;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 110%;
    background: #f5f6f7;
    border: 1px solid #ccd0d5;
}

._1ip1 input::placeholder,
._1ip2 input::placeholder {
    font-size: 110%;
}

._5k_3 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -6px -6px;
}

._5k_2 {
    background-color: white;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    height: 40px;
    margin: 8px 6px 6px;
    padding: 6px 5px;
    position: relative;
    width: 139px;
}

._58mt {
    font-size: 110%;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}

._5rdm {
    height: 36px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}

._1clk {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

._58mi {
    background: none;
    background-color: rgb(0, 164, 0);
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    width: 200px;
}

._1clk button:hover {
    background-color: rgba(0, 164, 0, 0.7);
}

._9tb9 {
    text-align: left;
}

.clearfix::after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}